:root {
    --bg-color: #2A3648;
    --not-white: #d3d3d3;
    --accent: #00B3B9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Chocolate Classical Sans", sans-serif;
}

h1 {
    font-family: "Stack Sans Text", sans-serif;
}

.pantalla {
    background-color: var(--bg-color);
    color: var(--not-white);
    border-bottom: 30px solid var(--accent);
    padding: 20px;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pantalla img {
    width: 10vw;
}

.pantalla h1 {
    font-size: 7vw;
    padding-bottom: 15px;
    font-family: "Stack Sans Notch", sans-serif;
}

.pantalla h3 {
    font-size: 4vw;
    color: var(--accent);
    text-transform: capitalize;
}

.pantalla h4 {
    font-weight: 100;
    font-size: 2vw;
}

.pantalla h1,
.pantalla h3,
.pantalla h4 {
    user-select: none;
}

.pantallaHeaderSmall {
    background-color: var(--bg-color);
    color: var(--not-white);
    border-bottom: 30px solid var(--accent);
    padding: 20px;
    text-align: center;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin: 10px;
    padding: 1px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.frameMain {
    width: 70%;
    color: var(--bg-color);
}

.frameMain {
    text-align: justify;
}

.frameMain h1 {
    font-size: 4vh;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: left;
}

.frameMain span,
nav ul {
    font-size: 1.8vh;
}

.frameMain img {
    width: 48vw;
}

nav {
    background-color: var(--bg-color);
    color: var(--not-white);
    width: 250px;
    position: sticky;
    flex-grow: 0;
    flex-shrink: 0;
}

nav ul {
    list-style: none;
    margin-top: 10px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    padding-top: 10px;
}

nav ul li {
    margin-bottom: 5px;
}


nav ul li a {
    padding: 10px;
    display: flex;
    background-color: #445979;
    text-decoration: none;
    color: var(--not-white);
}

nav ul li a:hover {
    font-weight: bold;
}

nav ul li a:visited {
    color: unset;
}

.disabled {
    background-color: #697483;
}

.disabled:hover {
    font-weight: normal;
    user-select: none;
}

.menuTitulo {
    display: block;
    text-align: center;
    font-size: 4vh;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--accent);
    font-family: "Stack Sans Text", sans-serif;
}

.tablaDosCol {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10px;
    gap: 50px;
}

.sangria {
    margin: 10px 5px !important;
    padding: 15px !important;
}

@media screen and (max-width: 900px) {
    main {
        flex-direction: column;
        margin: 0;
        gap: 0;
    }

    .frameMain {
        order: 1;
        width: 100%;
    }

    .frameMain img {
        width: 100%;
    }

    nav {
        order: 0;
        width: 100%;
        display: flex;
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 100;
    }

    nav ul {
        margin-top: 0;
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        gap: 10px;
        position: relative;
        z-index: 100;
        padding-top: 0;
    }

    nav ul li {
        margin-bottom: 0;
    }

    .pantalla img {
        width: 13vw;
    }

    .pantalla h1 {
        font-size: 11vw;
        padding-bottom: 15px;
    }

    .pantalla h3 {
        font-size: 7vw;
        color: var(--accent);
    }

    .pantalla h4 {
        font-weight: lighter;
        font-size: 5vw;
    }

    .pantallaHeaderSmall {
        height: 450px;
    }

    .frameMain h1 {
        font-size: 2vh;
    }

    .menuTitulo {
        display: none;

    }

    .tablaDosCol {
        grid-template-columns: auto;
        gap: 20px;
    }
}